{% extends 'base.html' %}

{% block action %}
<li><a href="{% url 'ventas' %}">Cobrar</a></li>
{% endblock %}

{% block content %}
<h3>Total de Ventas: ${{ total_ventas_historico }}</h3>

<ul>
{% if productos %}
<h3>Inventario</h3>
{% for producto in productos %}
    <li>
        <strong>{{ producto.nombre }}</strong>
        <br>
        Descripción: {{ producto.descripcion }}
        <br>
        Precio: ${{ producto.precio }}
        <br>
        Cantidad Disponible: {{ producto.cantidad_disponible }}
    </li>
    {% if not forloop.last %}
    <hr>
    {% endif %}
{% endfor %}
{% endif %}
</ul>
{% endblock %}
