{% extends 'base.html' %}

{% block action %}
<li><a href="{% url 'index' %}">Inicio</a></li>
{% endblock %}
{% block content %}

{% comment %}<h1>Lista de Productos</h1>{% endcomment %}
{% comment %}<ul>{% endcomment %}
    {% comment %}{% for producto in productos %}{% endcomment %}
        {% comment %}<li>{{ producto.nombre }} - {{ producto.descripcion }} - Precio: ${{ producto.precio }} - Stock Disponible: {{ producto.cantidad_disponible }}</li>{% endcomment %}
    {% comment %}{% endfor %}{% endcomment %}
{% comment %}</ul>{% endcomment %}

<h2>Agregar Producto al Carrito</h2>
<form method="post">
    {% csrf_token %}
    <label for="codigo_barras">Código de Barras:</label>
    <input type="text" id="codigo_barras" name="codigo_barras" autofocus>
    <button type="submit">Agregar al Carrito</button>
</form>

<h2>Carrito de Compras</h2>
<ul>
    {% for item in carrito %}
        <li class="article">
            <h4>{{ item.producto.nombre }}</h4>
            <p>Precio Unitario: ${{ item.producto.precio }}</p>
            <p>Cantidad: {{ item.cantidad }} </p>
            <form action="{% url 'eliminar_producto' item.producto.codigo_barras %}" method="post">
                {% csrf_token %}
                <button type="submit">Eliminar</button>
            </form>
        </li>
    {% empty %}
        <li>No hay productos en el carrito.</li>
    {% endfor %}
</ul>

<p>Precio Total: ${{ precio_total }}</li>

<form action="{% url 'pago' %}" method="post">
    {% csrf_token %}
    <button type="submit">Pagar</button>
</form>

{% endblock %}

